{% extends 'main/layout.html' %}
{% block container %}
<h3>{{category}}</h3>
<hr class="header-line">
<br>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-8">Fishes</div>
        </div>
    </div>
    <div class="col-md-4">
        <img
                class="card-img-top"
                src="/static/images/placeholder.svg"
                alt="Card"
        />
    </div>
</div>
</div>s
{% endblock container %}

