{% extends 'common/layout.html' %}
{% block container %}

{% include 'common/navigator.html' %}

<br>
<br>
<br>

<h3>{{jsonData['Name']}}</h3>
<hr class="header-line">
<br>

{% include 'common/description.html' %}

<hr class="header-line">

<h3>Categories of {{jsonData['Name']}}</h3>
{% set cards=jsonData['type'] if jsonData['type'] else {} %}
{% set href='/'.join(fullpath)+'/' %}
{% include 'common/card_image.html' %}

<hr class="header-line">

<h3>Visualizations</h3>

<hr class="header-line">

<h3>Downloadable Formats</h3>
{% set formats=['csv', 'excel', 'pdf'] %}
{% include 'common/downloadables.html' %}

{% endblock container %}

