{% block downloadable %}
<div class="download-container">
    <div class="sub-title text-center">Downloadable Formats</div>
    <div class="container">
        <div class="row">
            {% set format_dict={'csv':'Machine Readable Datasets', 'excel':'Excel Sheets', 'pdf':'Reports (PDF)',
            'pie':'Data Visualization'} %}
            {% set visual_dict={'csv':'fa-file-csv', 'excel':'fa-file-excel', 'pdf':'fa-file-pdf',
            'pie':'fa-chart-pie'} %}
            {% for name in formats %}
            {% if loop.index!=1 %}
            <div class="seperator"></div>
            {% endif %}
            <div class="col text-center">
                <a href="http://139.59.64.25:5000/">
                    <div><i class="fas {{visual_dict[name]}} download-icon"></i></div>
                    <div class="download-text">{{format_dict[name]}}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock downloadable %}
