{% extends 'common/layout.html' %}

{% block container %}
<div class="form-group" id="select-div">
  <select class="form-control" id="species-select">
    <option value = "">Choose specied to find expert</option>
    {% for metadata in parent_data %}
    <option value="{{metadata.id}}">{{ metadata.name }}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group" id="expert-table-div">
  <table class="table" id="expert-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Species Name</th>
        <th scope="col">Expert Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No.</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
      <tr>
        
      </tr>
      <tr>
        
      </tr>
    </tbody>
  </table>
</div>


{% endblock container %}










