{% extends 'common/layout.html' %}

{% block container %}
<div class="form-group" id="select-div">
  <select class="form-control" id="species-select">
    <option value = "1">Choose specied to find expert</option>
    <option>spider</option>
    <option>rats</option>
    <option>fishes</option>
    <option>raptiles</option>
  </select>
</div>

<div class="form-group" id="expert-table-div">
  <table class="table" id="expert-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Species Name</th>
        <th scope="col">Expert Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>3454546456</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>7686787872</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>9789878978</td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock container %}










