{% extends 'common/layout.html' %}

{% block container %}
<div class="form-group find-expert" id="select-div">
  <select class="form-control" id="species-select">
    <option value = "">Choose species to find experts</option>
    {% for metadata in parent_data %}
    <option value="{{metadata.id}}">{{ metadata.name }}</option>
    {% endfor %}
  </select>
</div>

<div class="form-group">
    <div class="inner find-expert" id="expert-table-div">
        
    </div>
</div>


{% endblock container %}










