@media (min-width: 1200px) {
  .container{
      max-width: 1400px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.custom-card.disabled {
  color: grey;
  opacity: .3;
  pointer-events: none;
}

.sub-title {
  width: 100%;
  font-weight: bold;
  padding: 20px;
}

.banner {
  height: 300px;
  background-image: url("/static/images/banner.jpg")
}